In [1]:
import pandas as pd
import numpy as np
from time import time

In [2]:
### READ ITEMS.csv & create id2newid dict

df_prod = pd.read_csv('ITEMS.csv', encoding='ISO-8859-1')
newids = np.array(df_prod['NEW_ID'].tolist()) - 1
newids = list(newids)
ids = df_prod['ITEM_ID'].tolist()
dict_id2newid = dict(zip(ids, newids))

In [3]:
### READ full_dataset_transactions.csv & Give Column names

print('Start reading full_dataset_transactions.csv ...')
start = time()
df_full = pd.read_csv('full_dataset_transactions.csv')
print('Finished reading full_dataset_transactions.csv! [{:.2f}s]'.format (time() - start))
df_full.columns = ['TRAN_ID', 'TRAN_DET_ID', 'SITE_ID', 'CUST_ID', 'ITEM_ID', 'QTY', 'AMOUNT', 'TIMESTAMP', 'NEW_ID']

Start reading full_dataset_transactions.csv ...
Finished reading full_dataset_transactions.csv! [432.95s]

In [22]:
### For df_cust_prod_time transform TIMESTAMP column into pd.Timestamp

df_full['TIMESTAMP'] = pd.to_datetime(df_full['TIMESTAMP'])

In [27]:
df_full = df_full.sort_values(by='TIMESTAMP')

MemoryError:

In [8]:
df_tmp=df_full[(df_full.TIMESTAMP >= '2016-05-10 00:00') & (df_full.TIMESTAMP <= '2016-05-10 01:00')]

In [11]:
df_tmp = df_tmp.sort_values(by='TIMESTAMP')

In [18]:
df_full.drop('ITEM_ID', axis = 1, inplace = True)

In [24]:
df_full['FTRAN'] = df_full['SITE_ID'].astype(str) + df_full['TRAN_ID'].astype(str)

MemoryError:

,TRAN_ID,TRAN_DET_ID,SITE_ID,CUST_ID,QTY,AMOUNT,TIMESTAMP,NEW_ID
0,39263,33954,898,-1,1.0,3.73,2017-05-25 09:43:01.827,651
1,39263,33955,898,-1,1.0,3.73,2017-05-25 09:43:01.827,651
2,784801,2371925,843,-1,1.0,3.73,2017-05-25 09:43:15.287,651
3,467290,1063508,225,-1,1.0,12.50,2017-05-25 16:16:48.330,268
4,350875,1004732,290,-1,1.0,12.50,2017-05-25 17:23:51.177,268

In [34]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205661769 entries, 0 to 205661768
Data columns (total 8 columns):
TRAN_ID        int64
TRAN_DET_ID    int64
SITE_ID        int64
CUST_ID        int64
QTY            float64
AMOUNT         float64
TIMESTAMP      datetime64[ns]
NEW_ID         int64
dtypes: datetime64[ns](1), float64(2), int64(5)
memory usage: 12.3 GB