In [1]:
import pandas as pd
import os

base_dir = os.path.join("D:/", "Google Drive/_hyperloop_data/recom_compl/_data")

In [2]:
print('Reading csv ...')
df = pd.read_csv(os.path.join(base_dir, 'SORTED_TRANS.csv'))
print('Fetched the dataset!')
print("Sz={}".format(len(df)))
#df.columns = ['cust_id', 'timestamp', 'item_id']

Reading csv ...
Fetched the dataset!
Sz=123892563

In [ ]:
print(df.head(5))

In [ ]:
df_prod = pd.read_csv(os.path.join(base_dir, 'PROD.CSV'), encoding='ISO-8859-1')
print(df_prod.head(5))

In [ ]:
sum(df.item_id==10000)

In [ ]:
print("500: {}".format(sum(df.item_id==500)))
print("1000: {}".format(sum(df.item_id==1000)))
print("1500: {}".format(sum(df.item_id==1500)))
print("2500: {}".format(sum(df.item_id==2500)))

In [ ]:
print(df.cust_id.max())
print(df.cust_id.min())
print(df.item_id.max())
print(df.item_id.min())
print(df.timestamp.max())
print(df.timestamp.min())

In [ ]:
num_items=df['item_id'].unique().shape[0]
num_cust=df['cust_id'].unique().shape[0]
print("Num_items={}".format(num_items))
print("Num_cust={}".format(num_cust))

In [ ]:
approx_active_cust = 1700000
tera_div = pow(1024,4)
n_embeddings = 64

In [ ]:
dim_emb_64 = (approx_active_cust * num_items * n_embeddings * 4) / tera_div
print("Dimensiunea in TB pt emb pe 64 float-uri: {:.2f}TB".format(dim_emb_64))

In [ ]:
n_embeddings = 128
dim_emb_128 = (approx_active_cust * num_items * n_embeddings * 4) / tera_div
print("Dimensiunea in TB pt emb pe 128 float-uri: {:.2f}TB".format(dim_emb_128))

In [3]:
df['dt'] =  pd.to_datetime(df['dt'], format="%Y-%m-%d %H:%M:%S.%f")

In [29]:
df = df[['item_id', 'dt']]

In [28]:
from datetime import datetime as dt
winter1_start = dt(2013, 9, 15)
winter1_end = dt(2014, 3, 15)

spring1_start = dt(2014, 3, 15)
spring1_end = dt(2014, 9, 15)

winter2_start = dt(2014, 9, 15)
winter2_end = dt(2015, 3, 15)

spring2_start = dt(2015, 3, 15)
spring2_end = dt(2015, 9, 15)

winter3_start = dt(2015, 9, 15)
winter3_end = dt(2016, 3, 15)

spring3_start = dt(2016, 3, 15)
spring3_end = dt(2016, 9, 15)

winter4_start = dt(2016, 9, 15)
winter4_end = dt(2017, 3, 15)

spring4_start = dt(2017, 3, 15)
spring4_end = dt(2017, 9, 15)

In [30]:
hot_period = pd.DataFrame(columns=['item_id', 'dt'])
cold_period = pd.DataFrame(columns=['item_id', 'dt'])

In [31]:
winter1 = df[(df['dt'] >= winter1_start) & (df['dt'] <= winter1_end)]
spring1 = df[(df['dt'] >= spring1_start) & (df['dt'] <= spring1_end)]

winter2 = df[(df['dt'] >= winter2_start) & (df['dt'] <= winter2_end)]
spring2 = df[(df['dt'] >= spring2_start) & (df['dt'] <= spring2_end)]

winter3 = df[(df['dt'] >= winter3_start) & (df['dt'] <= winter3_end)]
spring3 = df[(df['dt'] >= spring3_start) & (df['dt'] <= spring3_end)]

winter4 = df[(df['dt'] >= winter4_start) & (df['dt'] <= winter4_end)]
spring4 = df[(df['dt'] >= spring4_start) & (df['dt'] <= spring4_end)]

In [32]:
winter1.shape[0] + spring1.shape[0] + winter2.shape[0] + spring2.shape[0] + winter3.shape[0] + spring3.shape[0] + winter4.shape[0] + spring4.shape[0]

123892563

In [34]:
hot_period = hot_period.append(spring1)
hot_period = hot_period.append(spring2)
hot_period = hot_period.append(spring3)
hot_period = hot_period.append(spring4)

In [35]:
cold_period = cold_period.append(winter1)
cold_period = cold_period.append(winter2)
cold_period = cold_period.append(winter3)
cold_period = cold_period.append(winter4)

In [40]:
hot_period.to_csv(os.path.join(base_dir, 'HOT_PERIOD_TRANS.csv'))

In [41]:
cold_period.to_csv(os.path.join(base_dir, 'COLD_PERIOD_TRANS.csv'))

In [61]:
import numpy as np
hot_data = np.array(hot_period['item_id']) - 1
cold_data = np.array(cold_period['item_id']) - 1

In [62]:
hot_data.dump(os.path.join(base_dir, 'CLEANED_DATA_TRANS_HOT_SEASON.p'))

In [63]:
cold_data.dump(os.path.join(base_dir, 'CLEANED_DATA_TRANS_COLD_SEASON.p'))

array([ True,  True,  True, ...,  True,  True,  True], dtype=bool)

In [74]:
b

array([2272, 474, 2624, ..., 249, 533, 241], dtype=object)

In [75]:
a.shape[0] + b.shape[0]

123892563

In [76]:
c.shape[0]

123892563

In [2]:
df_aggregated = pd.read_csv(os.path.join(base_dir, 'AGGREGATED_TRANS.csv'))

In [4]:
df_aggregated

   2000105394  2145549  3.0000  65.586300000000008
0     8830003  5340903  0.5000              3.8100
1     4046395  7510110  6.3333            129.7210
2     8131065  7510729  2.0000             20.3945
3     2167656  7478933  5.0000             48.9445
4     8438925  7514268  1.0000              4.3016